
.top-btn{
    background-color: #00BFFF;
    width: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: fixed;
    bottom: 0px; /* adjust the bottom position as needed */
  right: 10px; /* adjust the right position as needed */
  z-index: 9999;
}

.fa-sharp{
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-decoration: none;
    font-size: 30px; /* adjust the font size as needed */
    margin-right: 15px;
    color: #ffff;
    display: inline-block;
    margin-left: 8px;
    margin-top: 5px;
}
.fa-sharp:hover {
    color: #ff004f;
    transform: translateY(-2px);
}

