.contact-left {
    flex-basis: 35%;
}

.contact-image img {
    width: 400px;
    margin-top: 10px;
    border-radius: 8px;
}

.contact-right {
    flex-basis: 60%;
}

.map {
    margin-top: 68px;
}

.map iframe {
    height: 250px;
    width: 100%;
    margin-top: 10px;
    border-radius: 8px;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
    cursor: pointer;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
}

.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-8px);
}

.btn.btn2 {
    display: inline-block;
    background: #ff004f;

}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright {
    padding: 10px;
    border-radius: 10px;
    color: blue;
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.copyright i {
    color: #ff004f;
}

#msg {
    color: #61b752;
    margin-top: -40px;
    display: block;
}

/* --------------------------------css for small screen----------- */

@media only screen and (max-width: 600px) {

    #contact{
        margin-left: 40px;

    }

    .contact-left,
    .contact-right {
        flex-basis: 100%;
        width: 200px;
    }

    #msg {
        color: #61b752;
        margin-top: -40px;
        display: block;
    }

    .contact-image img {
        width: 100%;
    }

    .map iframe {
        width: 100%;
    }

    .copyright {
        padding: 10px;
        border-radius: 10px;
        font-size: 14px;
    }
}